.projmgmt-s-team {
  margin-top: 1.3rem;
}

.projmgmt-s-team__title {
  display: flex;
  align-items: center;
  margin-left: 1px;
}

.projmgmt-s-team__title svg {
  margin-top: -1.5px;
}

.projmgmt-s-team__title > span {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 0.4rem;
}

/* Add members */

.project-s-team__add-dialog {
  margin: 2rem 2rem 1.5rem 2rem;
  display: relative;
}

.projmgmt-s-team__close-dialog {
  position: absolute;
  top: -1px;
  right: 5px;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.project-s-team__filtered-users {
  margin-top: 1rem;
  height: 200px;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  overflow: hidden;
}

.project-s-team__filtered-users > div {
  max-height: 200px;
  overflow-y: auto;
}

.project-s-team__filtered-users ul {
  padding: 0;
}

.project-s-team__add-member {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.project-s-team__add-member button {
  text-transform: none !important;
}

/* Members */

.projmgmt-s-team__members {
  margin-top: 0.85rem;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.projmgmt-s-team__role-title {
  display: block;
  margin-left: 4px;
  margin-bottom: 0.4rem;
  color: #333;
  font-size: 10.5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.projmgmt-s-team__role-chips {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}

/* Member chip */

.projmgmt-s-team__chip {
  min-width: 140px;
  height: 30px;
  border-radius: 2rem;
  padding: 0 1rem;
  padding-top: 1px;
  display: grid;
  place-items: center;
  color: #111;
  font-size: 12.5px;
  letter-spacing: 0.25px;
  position: relative;
}

#chip__project-manager {
  background-color: #ffc107;
}

#chip__developer {
  background-color: greenyellow;
}

#chip__submitter {
  background-color: #5ffcfc;
}

.projmgmt-s-team__delete-member {
  position: absolute;
  top: -2px;
  right: -2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  display: grid;
  place-items: center;
  color: white;
  font-size: 10px;
  font-weight: 600;
  padding-bottom: 1px;
  cursor: pointer;
}

.projmgmt-s-team__lead-badge-main,
.projmgmt-s-team__lead-badge {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.projmgmt-s-team__lead-badge-main {
  background-color: blue;
}

.projmgmt-s-team__lead-badge {
  background-color: #aaa;
}
