.projmgmt-create {
  margin-top: 1rem;
}

.projmgmt-create__button {
  background-color: #3f50b5 !important;
  font-size: 12.5px;
  text-transform: none !important;
  letter-spacing: 0.3px;
}

.projmgmt-create__button:hover {
  background-color: #2d3d99 !important;
}
