.full-view {
  display: flex;
}

.post-navbar {
  margin-left: 12.5rem;
  position: relative;
  width: calc(100vw - 12.5rem);
}

.content {
  margin-top: 2rem;
}

/* Media queries - collapsible sidebar */

@media screen and (max-width: 768px) {
  .post-navbar {
    margin-left: 0;
    width: 100vw;
  }

  .content {
    margin-top: 2.25rem;
  }

  .navbar-screen {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 3;
    transition: 0.25s;
  }
}
