.post-navbar {
  margin-left: 12rem;
  position: relative;
}

.content {
  margin-top: 2rem;
  height: 90vh;
  display: grid;
  place-items: center;
}

/* Media queries - collapsible sidebar */

@media screen and (max-width: 768px) {
  .post-navbar {
    margin-left: 0;
  }

  .content {
    margin-top: 2.25rem;
  }

  .navbar-screen {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
    transition: 0.25s;
  }

  .navbar-screen__hidden {
    opacity: 0;
  }
}
