.toolbar {
  position: fixed;
  top: 0;
  height: 2rem;
  width: calc(100vw - 12rem);
  background-color: #eee;
  box-shadow: 2px 2px 6px #bbb;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

.toolbar__user-icons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .toolbar {
    width: 100vw;
  }

  .toolbar__user {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .toolbar__menu {
    display: none;
  }
}
