.topbar {
  position: fixed;
  top: 0;
  height: 2rem;
  width: inherit;
  background-color: #eee;
  box-shadow: 0 4px 6px -2px #bbb;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 2;
}

.topbar__role {
  margin-left: 0.5rem;
  color: #555;
  font-size: 12px;
}

.topbar__rolename {
  color: #111;
  font-weight: 600;
}

.topbar__user-icons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .topbar {
    height: 2.25rem;
  }

  .topbar__role {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .topbar__menu {
    display: none;
  }
}
