.login {
  width: 200px;
  margin-bottom: 2.5vh;
}

/* Auth0 login */

.login__main {
  width: 100% !important;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
}

/* Demo login */

.login__demo {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding: 1rem 0.3rem 0 0.3rem;
}

.login__demo > span {
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.login__demo-users {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.login__demo-user {
  border-radius: 0.5rem;
  padding: 0.1rem !important;
  cursor: pointer;
}

#admin {
  background-color: #6c5ce7;
}

#admin.login__demo-user {
  box-shadow: 0 0 2.5px 1px yellow;
  margin-right: 1px;
  transition: 0.2s;
}

#admin.login__demo-user:hover {
  box-shadow: 0 0 3px 2px yellow;
}

#project-manager {
  background-color: orange;
}

#developer {
  background-color: greenyellow;
}

#submitter {
  background-color: lightblue;
}
