.ticket-card {
  width: 100%;
  max-width: 600px;
  height: 30px;
  border-radius: 8px;
  box-shadow: 0 1px 4px #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.ticket-card > div {
  display: flex;
  align-items: center;
}

.ticket-card__id {
  height: 22px;
  padding: 0 4px;
  background-color: #33eaff;
  display: grid;
  place-items: center;
  border-radius: 6px;
  font-size: 13px;
  margin-right: 0.5rem;
}

.ticket-card__title {
  font-size: 13.5px;
}

.ticket-card__details {
  height: 23px !important;
  text-transform: none !important;
  letter-spacing: 0.5px !important;
}
