.projmgmt {
  width: 100%;
  padding: 1.75rem 3rem;
  display: flex;
  flex-direction: column;
}

.projmgmt__title {
  font-weight: 600;
  font-size: 1.2rem;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .projmgmt {
    width: 100%;
    padding: 1.5rem;
  }
}
