.exst-users,
.unasgn-users {
  border-radius: 8px;
  box-shadow: 0 0 6px #888;
  background-color: #fff;
  width: 47.5%;
  max-width: 750px;
  height: min-content;
  margin-top: 1rem;
  overflow-y: hidden;
}

.exst-users__title,
.unasgn-users__title {
  height: 2.5rem;
  width: 100%;
  background-color: #3f50b5;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 13.5px;
  letter-spacing: 0.4px;
}

.exst-users__frame,
.unasgn-users__frame {
  height: 390px;
  padding: 0 0.5rem;
}

.exst-users__frame > div {
  border: none;
}

.exst-users__toolbar {
  column-gap: 0.5rem;
}

.exst-users__toolbar > button {
  font-size: 12.5px !important;
}

/* To hide horizontal scrollbar on the existing table */

.css-1pans1z-MuiDataGrid-virtualScroller {
  overflow-x: hidden !important;
}

/* Media queries */

@media screen and (max-width: 1050px) {
  .exst-users,
  .unasgn-users {
    width: 100%;
  }

  .exst-users {
    margin-top: 1.25rem;
  }

  .unasgn-users {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .css-1pans1z-MuiDataGrid-virtualScroller {
    overflow-x: auto !important;
  }
}
