.projmgmt-s {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .projmgmt-s {
    padding: 2rem 1.5rem;
  }
}
