.project-tickets {
  margin-top: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 35px;
}

.project-tickets__panel {
  width: 250px;
  height: 300px;
  box-shadow: 0 2px 8px #aaa;
  border-radius: 8px;
  text-align: center;
  padding: 0.5rem 1rem;
}

.project-tickets__panel-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

/* Ticket list */

.project-tickets__list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
  height: 240px;
  overflow-y: auto;
}

.project-tickets__list::-webkit-scrollbar {
  width: 5px;
  background-color: #bbb;
}

.project-tickets__list::-webkit-scrollbar-thumb {
  background-color: #444;
}

#ticket-list__critical span {
  background-color: #f8756ef3;
}

#ticket-list__medium span {
  background-color: #ffca28;
}

#ticket-list__low span {
  background-color: #ffec43;
}

.project-tickets__list-item {
  width: 92.5%;
  border-radius: 6px;
  box-shadow: 0 1px 3px #888;
  font-size: 13.5px;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  max-height: 48.5px;

  /* two line ellipsis */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
